body{
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(8, 206, 134, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-30px);
}

.card_image {
    width: 100%;
    height: 200px;
    display: block;
}

.card_content {
    padding: 20px;
}

.card_title{
    margin:0 0 10px 0;
    font-size: 1.5em;
    margin:0 0 10px 0;
    color:rgb(100, 18, 188);
}

.card_description {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin: 0 0 15px 0;
}

.card_actions {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card_button {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.card_button--primary {
    background-color: #ffffff;
    color: #000000;
}

.card_button--primary:hover {
    background-color: #0056b3;
}

.card_button--secondary {
    background-color: #c11aa8;
    color: #000000;
}

.card_button--secondary:hover {
    background-color: #5a6268;
}




